.fullscreen-bg{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -100;
    }
    @media screen and (max-width: 800px) {
    .fullscreen-bg{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -100;
    }
        
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;

}
.fejlec{
    font-family: Arial;
    position:absolute;
    top:0;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 18px;
    text-align: center;

}
 .gombdoboz{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.fejlec a{
    text-decoration: none;
    margin:0 10px;
    color:cornsilk;
    font-weight: bold;
}
.vkozepre{
    position:absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
.vfkozepre{
    position: absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, 50%);

}
.focim{
    font-size: 50px;
    
}
.fullscreen-bg-video{
    position: absolute;
    top:50%;
    left:50%;
    width:auto;
    height:auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.gomb{
    width: 200px;
    margin: 10px;
    padding: 15px;
    background:blue;
    text-align: center;
    font-family: Verdana;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000;
    display:inline-block;
    color:cornsilk;
}
.gomb:hover{
    cursor: pointer;
    filter: invert(100%);
    box-shadow: none;

}
.gomb:active{
  box-shadow: 0px 5px 10px grey;
}
.lablec_vkozepre{
    position:absolute;
    bottom:0;
    font-size: 14px;
    margin-bottom: 5px;
}

.fejlec_vkozepre{
    text-align: center;
}
.focim{
    width: 800px;
    margin: auto;
    padding: 10px;
    background:blue;
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    text-transform: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000;
    color:cornsilk;
}
.cumi{
    width: 550px;
    margin: auto;
    padding: 10px;
    background:blue;
    text-align: center;
    font-family: Verdana;
    font-size: 25px;
    text-transform: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000;
    color:cornsilk;
}
.b{
    color: aqua;
}
.hpal{
    width:650px;
    height:450px;
}
.kep{
    float: right;
    width:150px;
    height:150px;

}
#uborka{
    text-align: center;
    font-size: 60px;
    color:white
    font-family:Georgia, 'Times New Roman', Times, serif;
    -moz-text-fill-color: red;
    -webkit-text-fill-color: red;
    -moz-text-stroke-color: white;
 -webkit-text-stroke-color: white;
    -moz-text-stroke-width: 1px;  
 -webkit-text-stroke-width: 1px;
    
    
    

}
#uborka2{
    text-align: center;
    font-size: 60px;
    color:white
    font-family:Georgia, 'Times New Roman', Times, serif;
      -moz-text-fill-color: white;
 -webkit-text-fill-color: white;
    -moz-text-stroke-color: white;
 -webkit-text-stroke-color: white;
    -moz-text-stroke-width: 1px;  
 -webkit-text-stroke-width: 1px;
    
    
    

}
#uborka3{
    text-align: center;
    font-size: 60px;
    color:white
    font-family:Georgia, 'Times New Roman', Times, serif;
      -moz-text-fill-color: green;
 -webkit-text-fill-color: green;
    -moz-text-stroke-color: white;
 -webkit-text-stroke-color: white;
    -moz-text-stroke-width: 1px;  
 -webkit-text-stroke-width: 1px;
    
    
    

}
#style{
    text-align: center;
}
.puki{
    width:250px;
    height:250px;
    border: 6px ridge mediumblue;
}
#w3review{
    text-align: center;
}
.w3review{
    text-align: center;
}
.repa{
    float:right;
    width: 200px;
    height: 600px;
    border: 6px ridge mediumblue;

}
.repa1{
    float:left;
    width: 200px;
    height: 600px;
    border: 6px ridge mediumblue;

}

.bemutatkozas{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:white
}
#kontener{
    width: 1300px;
            margin: auto;
            border: 8px solid mediumblue;
            border-top: 22px solid red;
            background-color: grey;
}
#credit{
    text-align:center;

}
.credit1{
    width: 400px;
    height: 400px;
    border: 6px ridge mediumblue;
}
.epuletek{
    height: 650px;
    width: 1200px;
    border: 6px ridge mediumblue;

}
#nyil{
    text-align: center;
}
.udvozollek{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    color: yellow;
    -moz-text-fill-color: black;
 -webkit-text-fill-color:black ;
    -moz-text-stroke-color: yellow;
 -webkit-text-stroke-color: yellow;
    -moz-text-stroke-width: 1px;  
 -webkit-text-stroke-width: 1px;
    

}
#uborka1{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    -moz-text-fill-color: black;
 -webkit-text-fill-color:black ;
    -moz-text-stroke-color: yellow;
 -webkit-text-stroke-color: yellow;
    -moz-text-stroke-width: 1px;  
 -webkit-text-stroke-width: 1px;
    
}
.udvozollek2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 78px;
    color: yellow;
    -moz-text-fill-color: black;
 -webkit-text-fill-color:black ;
    -moz-text-stroke-color: yellow;
 -webkit-text-stroke-color: yellow;
    -moz-text-stroke-width: 1px;  
 -webkit-text-stroke-width: 1px;
    

}

.gomb101{
    width: 200px;
    margin: 10px;
    padding: 15px;
    background:whitesmoke;
    text-align: center;
    font-family: Verdana;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000;
    display:inline-block;
    color:cornsilk;
}
.gomb101:hover{
    filter: invert(100%);
    box-shadow: none;

}
.kinezet{
width:1150px;
height:650px;
border: 6px ridge red;
}
.warcraft{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: yellow;
    -moz-text-fill-color: white;
    -webkit-text-fill-color:white ;
    -moz-text-stroke-color: black;
     -webkit-text-stroke-color: black;
    -moz-text-stroke-width: 1px;  
 -webkit-text-stroke-width: 1px;
 margin: auto;
 border: 8px solid green;
 border-top: 22px solid black;
 background-color: grey;
 width: 600px;
}
.tartalomjegyzek{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:white
}
#uborka666{
    text-align: center;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    -moz-text-fill-color: black;
 -webkit-text-fill-color:black ;
    -moz-text-stroke-color: yellow;
 -webkit-text-stroke-color: yellow;
    -moz-text-stroke-width: 1px;  
 -webkit-text-stroke-width: 1px;
    
}

.iframe-container{
    position: relative;
    width: 65%;
    padding-bottom: 60.25%; 
    height: 65;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 65;
    width: 60%;
    height: 65%;
  }
#youtube{
    float:right;
}
#youtube2{
    float: right;
}
.igazitas{
    width:50px;
    height:50px;
    border: 3px ridge black;
}
#style{
    text-align: center;
}

